h1 {
    color: brown;
}

.friend {
    background-color: lightslategray;
    margin: 12rem;
    margin-top: 3rem;
}

* {
    background: lightsteelblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

h3 {
    text-transform: uppercase;
    background-color: lightslategray;
}

body {
    text-align: center;
}

p {
    margin-top: 2rem;
    background-color: lightslategray;
}

